@keyframes blur {
  0% {
    filter:blur(3px);
    
  }
  100% {
    filter:blur(0);
    
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
   html {  
        animation: 1s ease-out 0s 1 blur;
    }
}

