
.button {
    display: flex; 
    justify-content: center;
    box-sizing: 100%;
    text-align: center;
    width: 30%;
    float: inherit;
    background-color: #3b3b3b;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 15px 70px 15px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 8px;
    
}

div.main {
    text-align: center;
}