.button{
    margin-top: 3px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
	display: inline-block;
    
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    text-shadow: 1px 1px 17px rgba(0, 0, 0, 0);
	border-radius: 10px;

	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}


.button:hover {
    background-color: white;
    color: black;
    
	padding: 13px 30px;
    border: 2px solid #4CAF50;
    
    -webkit-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.45);
	box-shadow: 4px 3px 18px 0px rgba(0,0,0,0.45);

}


