.layout {
    grid-auto-flow: row;
    grid-template-rows: min-content auto 200px;
}

.bottom {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-template-columns: 33% 33% 33%;
}

div.bottom img.middle {
    grid-column: 2;
    margin: auto;
}

div.bottom div.right {
    grid-column: 3;
    position: absolute;
    right: 0;
    bottom: 0;
}