@import url('layoutDesktop.css') (orientation:landscape);
@import url('layoutMobile.css') (orientation:portrait);

html,
body {
    height: 100%;
}

.layout {
    display: grid;

    grid-gap: 0px;
    height: 100%;
}

.main {

}




.bottomLeft {
    
}




div.bottom div.right {
    grid-column: 3;
    position: absolute;
    right: 0;
    bottom: 0;
}

div.bottom img {
    
    
    height: 200px;
}