.layout {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0px;
    /* grid-auto-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh; */
    height: 100%;
}

.main {

}

.bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 33% 33% 33%;
    position: relative;
}


.bottomLeft {
    position: relative;
}

div.bottom img.middle {
    grid-column: 2;
    margin: auto;
}

div.bottom img.right {
    grid-column: 3;
}

div.bottom img {
    width: 20%;
    height: auto;
}