.layout {
    display: grid;
    grid-template-columns: 33% auto 33%;

    grid-gap: 0px;
    /* grid-auto-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh; */
    grid-auto-rows: auto auto auto auto auto auto auto auto auto 0;
    height: 100%;
}

.main {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
}

.bottom {


    grid-column: 2 / 3;
    grid-row: 8 / 9;   
    position: relative;
    background: url(""");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;



    
}


