body {
    background-color: aqua;
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
    text-align: center;
    font-size: 60px;
}
.button {
    text-align: center;
    
    background-color: #3b3b3b;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
}
