@font-face {
	font-family: openSans;
	src: url(/OpenSans-Regular.ttf);
}

html {
    margin:0;padding:0;
}

body {
    font-family: 'openSans', sans-serif;
    

    
}

h1 {
    text-align: center;
}

#content {
    margin: 0px;
}

a{
    align: center;
    color: crimson
}

.center{
    text-align: center;
}
