
html {
    margin:0;padding:0;
}
@media only screen and (min-width: 500px) {
    body {
        
        position: fixed;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
    
    }
}
body {
    font-family: 'Open Sans', sans-serif;
    

    
}
h1 {
    text-align: center;
}

#content {
    margin: 25px;
}

a{
    align: center;
    color: crimson
}

.center{
    text-align: center;
}
