/*
html {
    margin:0;padding:0;
}
body {
    background-color: aliceblue;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 0%;
    margin-top: 1%;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

#content {
    background-color: coral;
    width 100%;
}
*/