.fullBodyLayout {
    grid-auto-flow: row;
    grid-template-rows: min-content auto;
}
div.fullBodyLayout div.headerText {
    grid-row: 1;
}
div.fullBodyLayout div.buttonsArea {
    grid-row: 2;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto min-content;
}

div.menuButtons {
    grid-row: 1;
}

div.bottom {
    grid-row: 2;
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-template-columns: 33% auto 33%;
}

div.bottom div.middle {
    grid-column: 2;
    margin: auto;
}

div.bottom div.right {
    grid-column: 3;
    margin: 0;
    margin: auto 0 0 0;
    float: left;
    padding: 0;

}