@keyframes blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

@keyframes leftRotate {
    0% {
        transform-origin: center right;
        transform: perspective(4000px) rotateY(-90deg) translateZ(0px);
    }
    100% {
        transform-origin: center right;
        transform: perspective(4000px) rotateY(0deg) translateZ(0px);
    }
}

@keyframes rightRotate {
    0% {
        transform-origin: center left;
        transform: perspective(4000px) rotateY(90deg) translateZ(0px);
    }
    100% {
        transform-origin: center left;
        transform: perspective(4000px) rotateY(0deg) translateZ(0px);
    }
}

@media screen {
    html {
        /* animation: 1s ease-out 0s 1 blur; */
    }
    div.headerText {
        animation: 1s ease-out 0s 1 leftRotate;
    }
    div.buttonsArea {
        animation: 1s ease-out 0s 1 rightRotate;
    }
}