.button {
    display: block; 
    justify-content: center;
    box-sizing: 100%;
    text-align: center;
    width: 60%;
    background-color: #616161;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding: 5px 70px 5px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 75px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 8px;
    
}

div.menuButtons {
    text-align: center;
}