@import url('variables.css');

.button {
    display: block; 
    justify-content: center;
    box-sizing: 100%;
    text-align: center;
    width: 60%;
    
    background-color: var(--buttonColour);
    border-radius: 20px;
    color: var(--buttonTextColour);
    font-weight: bold;
    /* padding: 5px 70px 5px 70px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: min-max(50px 70px);
    padding-right: min-max(50px 70px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;

}


div.menuButtons {
    text-align: center;
}
