@import url('style.css');


body {
    background-color: #fff;
}

h1 {
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 10px;
    background-color: #4fbdff;
}

.buttonsArea {
    padding: 10px;
    background-color: #4fbdff;
}