@import url('style.css');
@import url('galleryContentStyle.css');
.fullBodyLayout {
    grid-template-rows: min-content max-content auto min-content;
}

img {
    width: 100%;
    max-height: 30vh;
    min-height: 200px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
    transition-duration: 0.4s;
}


/* @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    img {
        width: 100% !important;
        height: 200px !important;
        max-height: unset !important;
        min-height: unset !important;
    }
} */

img:hover {
    box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 20px;
    z-index: 2;
    transform: scale(1.05, 1.05)
}

div.mainContentGallery {
    display: grid;
    margin: 10px;
    grid-gap: 8px;
    grid-template-rows: repeat(auto);
}

@media only screen and (max-width: 600px) {
    div.mainContentGallery {
        grid-template-columns: repeat(auto-fit, 1fr);
    }
}

@media only screen and (orientation:landscape) and (max-width: 1000px) {
    div.mainContentGallery {
        grid-template-columns: auto auto;
    }
}

@media only screen and (min-width: 1000px) {
    div.mainContentGallery {
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}

div.galleryCell {
    background-color: var(--buttonColour);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
    transition-duration: 0.4s;
    border-bottom: solid 6px;
    border-color: #363636;
    border-radius: 10px;
}

div.galleryCell:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 20px;
}

div.galleryCell p {
    margin: 0 10px 5px 10px;
    text-align: center;
    overflow: hidden;
}

div.galleryCell img {
    border-radius: 5px;
}