@import url('style.css');

.fullBodyLayout {
    grid-template-rows: min-content min-content min-content min-content auto min-content;
}

.line{
    margin: 0 0 0 35px;
    padding: 0 0 0 0;
    width: 400px;
    height: 5px;
    border-top: 3px solid rgb(29, 29, 29);
    position: inherit;
}


body {
    background-color: #fff;
}

h1 {
    z-index: 2;
    box-shadow:  rgba(0, 0, 0, 0.9) -0px 0px 10px;
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 10px 10px 10px 10px;
    background-color: #4fbdff;
}

h2 {
    margin: 10px 0px 0px 40px;
    font-size: 50px;
}

.buttonsArea {
    z-index: 2;
    box-shadow:  rgba(0, 0, 0, 0.9) -0px 0px 10px;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    background-color: #4fbdff;
}

.button {
    font-size: 50px;
}

img.floatRight{
    float: left;
    clip-path: ellipse(50% 50% at 50% 50%);
    margin: 20px;
    shape-outside: ellipse(50% 50% at 50% 50%);
}

img.floatCenter{
    margin-left: auto;
    margin-right: auto;
}

img {
    image-orientation: from-image;
}