@import url('style.css');
.fullBodyLayout {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
}

.line {
    margin: 0 0 0 35px;
    padding: 0 0 0 0;
    width: 400px;
    height: 5px;
    border-top: 3px solid rgb(29, 29, 29);
    position: inherit;
    transition-duration: 0.6s;
}

@media only screen and (max-width: 500px) {
    .line {
        margin: 0 0 0 0;
        width: 100%;
    }
}

body {
    background-color: var(--textBackground);
}

h1 {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.9) -0px 0px 10px;
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 10px 10px 10px 10px;
    background-color: var(--background);
}

h2 {
    margin: 10px 0px 0px 40px;
    font-size: 50px;
}

.buttonsArea {
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.9) -0px 0px 10px;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 10px 5px;
    background-color: var(--background);
}

.button {
    font-size: 50px;
}

img.floatRight {
    width: 40%;
    float: left;
    clip-path: ellipse(50% 50% at 50% 50%);
    margin: 20px;
    shape-outside: ellipse(50% 50% at 50% 50%);
}

img.floatCenter {
    max-width: 95%;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

img {
    image-orientation: from-image;
}