@import url('style.css');

.fullBodyLayout {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: row;
}

.line{
    margin: 0 0 0 35px;
    padding: 0 0 0 0;
    width: 400px;
    height: 5px;
    border-top: 3px solid rgb(29, 29, 29);
    position: inherit;
}


body {
    background-color: #fff;
}

h1 {
    z-index: 2;
    color: #fff;
    font-size: 50px;
    margin: 0;
    padding: 10px 10px 10px 10px;
    background-color: var(--background);
}

h2 {
    margin: 10px 0px 0px 40px;
    font-size: 50px;
}

.buttonsArea {
    z-index: 2;
    margin: 0px 0px 20px 0px;
    padding: 5px;
    background-color: var(--background);
}

.button {
    font-size: 50px;
}

img.floatRight{
    float: left;
    clip-path: ellipse(50% 50% at 50% 50%);
    margin: 20px;
    shape-outside: ellipse(50% 50% at 50% 50%);
}

img.floatCenter{
    margin-left: auto;
    margin-right: auto;
}

img {
    image-orientation: from-image;
}