@import url('desktop/layoutDesktop.css') (orientation:landscape);
@import url('mobile/layoutMobile.css') (orientation:portrait);

html,
body {
    height: 100%;
}

.fullBodyLayout {
    display: grid;
    grid-gap: 0px;
    height: 100%;
}

div.bottom img {
    width: 100%;
}

div.menuButtons {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: row;
}