@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');
@import url('style.css');
@import url('variables.css');


body {
    background-color: var(--background);
}

h1 {
    
    text-align: center;
    color: #2f58c6;
}

div.bottom div.right {
    
}
.button {
}