@import url('desktop/styleDesktop.css') (orientation:landscape);
@import url('mobile/styleMobile.css') (orientation:portrait);
@import url('layout.css');
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-light.ttf");
}



h1 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
    margin: 20px;
    text-align: center;
}

div.bottom div.right {
    filter: drop-shadow( -0px -0px 15px rgba(0, 0, 0, 0.6) );
}