@import url('styleDesktop.css') (orientation:landscape);
@import url('styleMobile.css') (orientation:portrait);
@import url('layout.css');
@import url('button.css');
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-light.ttf");
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #4fbdff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
    margin: 20px;
    text-align: center;
}

