/* var */

:root {
    --background: #4fbdff;
    --headingTextColour: #fff;
    --buttonColour: #616161;
    --buttonTextColour: var(--headingTextColour);
    --textBackground: #fff;
}

@font-face {
    font-family: Roboto;
    src: url("../../style/fonts/Roboto/Roboto-Light.ttf");
}


/* main */

h1 {
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 15px;
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}


/* buttons */

.button {
    display: block;
    justify-content: center;
    box-sizing: 100%;
    text-align: center;
    width: 60%;
    background-color: var(--buttonColour);
    border-radius: 20px;
    color: var(--buttonTextColour);
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: min-max(50px 70px);
    padding-right: min-max(50px 70px);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 8px, inset 0px 0px 0px 8px var(--buttonTextColour);
}

.button:active {
    box-shadow: rgba(0, 0, 0, 0.6) 1px 1px 8px, inset 0px 0px 0px 15px var(--buttonTextColour);
}

div.menuButtons {
    text-align: center;
}