@import url('button.css');


@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-light.ttf");
}

h1 {
	margin: 20px;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}