.fullBodyLayout {
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
}

div.bottom div.middle img {
    display: none;
}

div.headerText {
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: row;
    grid-template-rows: auto min-content auto;
}

div.headerText h1 {
    grid-row: 2;
}  

div.buttonsArea {
    display: grid;
    position: relative;
    grid-gap: 0px;
    grid-template-rows: auto min-content auto;
    grid-template-columns: auto auto auto;
}

div.buttonsArea div.menuButtons {
    grid-row: 2;
    grid-column: 1 / 4;
}


div.bottom div.right img{
    grid-row: 2;
    grid-column: 3;  
    
    display: none;

}