h1 {
    /*    font-size: 100px;*/
    font-size: 7.142857143vw;
    /*    font-size: 17ch;*/
}

.button {
    font-size: 75px;
}

div.buttonsArea {
    background-image: url("../../../private/images/background.jpg");
    background-repeat: repeat;
    
    background-position: bottom left;
}

@media (max-width: 1100px) {
    .button {
        font-size: 40px;
        transition-duration: 0.4s;
    }
}